* {
  scroll-behavior: smooth;
}

body {
  background-color: #304221;
}

.gmap_canvas { 
  overflow:hidden;
  background:none!important;
}

.custom-linear-gradient {
  background: linear-gradient(180deg, #314222 0%, #F2FFB9 100%);
}